<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright © 2015 Intel Corporation
This program and the accompanying materials are made available under the terms of the Eclipse Public License v1.0, 
 which accompanies this distribution, and is available at http://www.eclipse.org/legal/epl-v10.html . https://github.com/viqet
 Contributors:
    Intel Corporation - initial API and implementation and/or initial documentation
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ViqetDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <ViqetDesktop.Properties.Settings>
      <setting name="CheckPhotoCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayPhotoMOS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MOSModel" serializeAs="String">
        <value>CategoryMosLibSVM</value>
      </setting>
    </ViqetDesktop.Properties.Settings>
  </userSettings>
</configuration>